In [1]:
import pandas as pd

url = 'https://www.infomoney.com.br/cotacoes/empresas-b3/'
tables = pd.read_html(url)

# Verifica quantas tabelas existem
print(f"Número de tabelas encontradas: {len(tables)}")

# Mostra as primeiras tabelas
for i, tabela in enumerate(tables):
    print(f"\nTabela {i}:\n")
    print(tabela.head())
    print(tabela.columns)

Número de tabelas encontradas: 11

Tabela 0:

                                          Empresas  Ativos Unnamed: 2
0  INVESTO ETF MARKETVECTOR BITCOIN BENCHMARK RATE  HODL11        NaN
1                                          Automob   AMOB3        NaN
2                               ISA ENERGIA BRASIL   ISAE4        NaN
3                                Grupo Casas Bahia   BHIA3        NaN
4         Riza Arctium Real Estate FII Closed Fund  RZAT11        NaN
Index(['Empresas', 'Ativos', 'Unnamed: 2'], dtype='object')

Tabela 1:

          Empresas   Ativos Unnamed: 2 Unnamed: 3 Unnamed: 4
0  AZZAS 2154 S.A.    AZZA3        NaN        NaN        NaN
1            Allos    ALOS3        NaN        NaN        NaN
2          VIA S.A    VIIA3        NaN        NaN        NaN
3            Cedro   CEDO4F     CEDO3F      CEDO4        NaN
4          Netflix  NFLX34F     NFLX34        NaN        NaN
Index(['Empresas', 'Ativos', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

Tabela 2:

         Empresas   Ativos Unnamed: 2 Unnamed: 3 Unnamed: 4
0        Privalia    PRVA3        NaN        NaN        NaN
1         Walmart  WALM34F     WALM34        NaN        NaN
2       Starbucks  SBUB34F        NaN        NaN        NaN
3  Procter Gamble  PGCO34F        NaN        NaN        NaN
4     Pepsico Inc  PEPB34F     PEPB34        NaN        NaN
Index(['Empresas', 'Ativos', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

Tabela 3:

                                  Empresas  Ativos Unnamed: 2 Unnamed: 3  \
0  Nu Renda Ibov Smart Dividendos (NDIV11)  NDIV11        NaN        NaN
1                              CSU Digital   CSUD3        NaN        NaN
2                              Banco Inter  INBR31      BIDI3     BIDI11
3                                 STONE CO  STOC31        NaN        NaN
4                              Nu Holdings  NUBR33        NaN        NaN

  Unnamed: 4 Unnamed: 5 Unnamed: 6
0        NaN        NaN        NaN
1        NaN        NaN        NaN
2      BIDI4        NaN        NaN
3        NaN        NaN        NaN
4        NaN        NaN        NaN
Index(['Empresas', 'Ativos', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

Tabela 4:

              Empresas   Ativos Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0  Terra Santa Agro SA    LAND3        NaN        NaN        NaN        NaN
1          Dexxos Part    DEXP4      DEXP3        NaN        NaN        NaN
2       Celulose Irani   RANI3F        NaN        NaN        NaN        NaN
3             Freeport  FCXO34F     FCXO34        NaN        NaN        NaN
4         Paranapanema   PMAM3F      PMAM3        NaN        NaN        NaN

  Unnamed: 6
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
Index(['Empresas', 'Ativos', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

Tabela 5:

                                         Empresas   Ativos Unnamed: 2  \
0  Investo Market Vector Brazil Domestic Exposure   BDOM11        NaN
1                                           Vitru    VTRU3        NaN
2                                       Rio Bravo   RBIV11        NaN
3                                    COPEL UNT N2  CPLE11F     CPLE11
4                                     FII GTIS LG   GTLG11        NaN

  Unnamed: 3
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
Index(['Empresas', 'Ativos', 'Unnamed: 2', 'Unnamed: 3'], dtype='object')

Tabela 6:

                  Empresas   Ativos Unnamed: 2 Unnamed: 3 Unnamed: 4
0           Serena Energia    SRNA3        NaN        NaN        NaN
1        Vibra Energia S.A    VBBR3        NaN        NaN        NaN
2                   Raízen    RAIZ4        NaN        NaN        NaN
3  PetroRecôncavo Geral SA    RECV3        NaN        NaN        NaN
4             Schlumberger  SLBG34F     SLBG34        NaN        NaN
Index(['Empresas', 'Ativos', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

Tabela 7:

                      Empresas  Ativos Unnamed: 2 Unnamed: 3 Unnamed: 4
0                 Oncoclínicas   ONCO3        NaN        NaN        NaN
1                        Viveo   VVEO3        NaN        NaN        NaN
2  Instituto Hermes Pardini SA   PARD3        NaN        NaN        NaN
3                        Biomm  BIOM3F      BIOM3        NaN        NaN
4                       Baumer  BALM3F     BALM4F      BALM4      BALM3
Index(['Empresas', 'Ativos', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

Tabela 8:

          Empresas  Ativos Unnamed: 2
0        ClearSale   CLSA3        NaN
1         Livetech   LVTC3        NaN
2  G2D Investments  G2DI33        NaN
3    Infracommerce   IFCM3        NaN
4         Alphabet  GOGL35        NaN
Index(['Empresas', 'Ativos', 'Unnamed: 2'], dtype='object')

Tabela 9:

   Empresas   Ativos Unnamed: 2 Unnamed: 3 Unnamed: 4
0  Brisanet    BRIT3        NaN        NaN        NaN
1  Unifique    FIQE3        NaN        NaN        NaN
2   Desktop    DESK3        NaN        NaN        NaN
3   Verizon  VERZ34F     VERZ34        NaN        NaN
4        OI   OIBR4F      OIBR4       OIBR        NaN
Index(['Empresas', 'Ativos', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

Tabela 10:

        Empresas  Ativos Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0  Brava Energia   BRAV3        NaN        NaN        NaN        NaN
1  Auren Energia   AURE3        NaN        NaN        NaN        NaN
2  Omega Energia   MEGA3        NaN        NaN        NaN        NaN
3          Celpe  CEPE6F     CEPE5F     CEPE3F      CEPE6      CEPE5
4         CEEE-D  CEED3F     CEED4F      CEED4      CEED3        NaN

  Unnamed: 6
0        NaN
1        NaN
2        NaN
3      CEPE3
4        NaN
Index(['Empresas', 'Ativos', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [2]:
import fundamentus

df = fundamentus.get_papel()
print(df.index.tolist())  # Lista de tickers

2025-07-24 11:38:55,309 [logging.log_init] INFO: LOGLEVEL=INFO

TypeError: get_papel() missing 1 required positional argument: 'param'